<section>
	<h2>Total Spent:</h2>
	<%= number_to_currency @budget.total %>
</section>

<section>
	<h2>Members:</h2>
	<table>
		<thead>
			<tr>
				<th>Member</th>
				<th>Allocation</th>
				<th>Total Spent</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody>
		<% @budget.memberships.each do |membership| %>
			<tr>
				<td><%= membership.member.name %></td>
				<td><%= membership.allocation %></td>
				<td class="monetary-value"><%= number_to_currency @budget.total_by(membership.member) %></td>
				<td class="monetary-value"><%= number_to_currency @budget.balance_by(membership.member) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</section>

<section>
	<h2>Purchases:</h2>

	<section class="inline-form">
		<h3>Add A Purchase</h3>
		<%= render partial: 'line_items/inline_form', object: @line_item %>
	</section>

	<% if @budget.line_items.any? %>
	<table>
		<tbody>
		<% @budget.line_items.order('purchased_at DESC').each do |line_item| %>
			<tr>
				<td><%= line_item.purchased_at.strftime('%D') %></td>
				<td><%= link_to line_item.description, edit_line_item_path(line_item) %></td>
				<td class="monetary-value"><%= number_to_currency line_item.amount %></td>
				<td><%= line_item.purchaser_name %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<% end %>
</section>