<section>
	<% if @balance == 0 %>
		You're all squared up!
	<% else %>
		You <% if 0 < @balance %> owe <% else %> are owed <% end %> <strong><%= number_to_currency @balance.abs %></strong>
	<% end %>
</section>

<section class="inline-form">
	<%= render partial: 'line_items/inline_form', locals: { line_item: @line_item } %>
</section>

<section>

	<% if @line_items.any? %>
	<table>
		<tbody>
			<%= render @line_items %>
		</tbody>
	</table>
	<%= link_to_previous_page @line_items, 'Prev Page' %>
	<%= link_to_next_page @line_items, 'Next Page' %>
	<% end %>
</section>
