<%= form_for @line_item, :url => line_items_path, :html => { class: 'inline-form' } do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :description, :placeholder => 'Groceries, Phone Bill, Etc.' %>
  </div>
  <div class="field">
    <%= f.text_field :amount, :placeholder => '$ 0.00', :class => 'amount-field' %>
  </div>
  <div class="field">
    <%= f.date_select :purchased_at %>
  </div>
  <div class="field">
    <%= f.select :member_id, options_for_select(get_member_select_options, [ current_member.id ]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
