<!DOCTYPE html>
<html>
<head>
  <title>JointBudget</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<ul class="nav-menu">
		<%= nav_item('Home', { controller: '/home', action: 'index'}) %>

		<% if current_member.admin? %>
			<%= nav_item('Line Items', { controller: '/line_items', action: 'index'}) %>
			<%= nav_item('Budgets', { controller: '/budgets', action: 'index'}) %>
			<%= nav_item('Memberships', { controller: '/memberships', action: 'index'}) %>
			<%= nav_item('Members', { controller: '/members', action: 'index'}) %>
		<% end %>
	</ul>

	<aside>
		<% if member_signed_in? %>
			<%= link_to( (current_member.name or '(no name)'), member_path(current_member) ) %> <%= link_to '(sign out)', destroy_member_session_path, class: 'sign-out-link' %>
		<% else %>
			<%= link_to 'Log In', new_member_session_path %>
		<% end %>
	</aside>
</nav>

<div class="main-container">
	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>

	<%= yield %>
</div>

</body>
</html>
