<!DOCTYPE html>
<html>
<head>
  <title>JointBudget</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<ul>
		<%= nav_item('Home', { controller: 'home', action: 'index'}) %>
		<%= nav_item('Line Items', { controller: 'line_items', action: 'index'}) %>
		<%= nav_item('Budgets', { controller: 'budgets', action: 'index'}) %>
		<%= nav_item('Members', { controller: 'members', action: 'index'}) %>
		<%= nav_item('Memberships', { controller: 'memberships', action: 'index'}) %>
	</ul>
</nav>

<div class="main-container">
	<%= yield %>
</div>

</body>
</html>
